[project]
	state = active
	description = Xperia S
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group SEMC Maintainers
	label-Code-Review = -2..+2 group SEMC Maintainers
	label-Verified = -1..+1 group SEMC Maintainers
	submit = group SEMC Maintainers
[receive]
	requireContributorAgreement = true
[access]
	inheritFrom = CyanogenMod/android_device_sony_fuji-common
